
:root {
    --main-background-color: rgb(235, 235, 235);
    --main-background-color-a: rgba(235, 235, 235, 0.9);
    --main-background-color-b: rgba(235, 235, 235, 0.5);
    --section-background-color: rgb(215, 215, 215);
    --main-highlight-color: rgb(215, 215, 215);
    --main-font-color: rgb(20, 20, 20);
    --main-font-color-a: rgb(70, 70, 70);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-background-color);
    box-sizing: border-box;
}

a {
    color: rgb(155, 0, 0);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    overflow: hidden;
    box-sizing: border-box;
}

.sticky-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.sticky-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sticky-menu li {
    margin: 0;
}

.sticky-menu a {
    font-size: 1.1rem;
    color: var(--main-font-color);
    text-decoration: none;
    padding: 1.3rem;
}

.sticky-menu a:hover {
    background-color: var(--main-highlight-color);
}

#menuLogoA {
    margin: 0;
    padding: 0;
}

#menuLogoA:hover {
    background-color: rgba(0, 0, 0, 0);
}

#menuLogo {
    margin: 0.35rem 0 0 0;
    width: 2.4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-font-color);
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99.5%;
    height: 60rem;
}

.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.separator-div {
    width: 100%;
    height: 1rem;
    background-color: var(--main-background-color);
}

.section-title {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: var(--main-font-color);
}

#sectionSubTitle {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 0.98rem;
    color: rgb(155, 0, 0);
}

#mainSectionTitle {
    padding: 0;
    margin: 0;
    color: var(--main-font-color);
    font-size: 6rem;
    align-self: center;
}

.section-text-box {
    margin: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 30%;
}

.section-subtext {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
    color: var(--main-font-color-a);
}

#home {
    background-color: var(--section-background-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("../img/lambs1.jpg");
    background-size: cover;
    background-position: center;
}

#about {
    background-color: var(--section-background-color);
}

#join {
    background-color: var(--section-background-color);
}

#discord {
    background-color: var(--section-background-color);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 20rem;
    background-color: var(--section-background-color);
}

footer p {
    margin: 0;
}