
:root {
    --main-background-color: rgb(11, 42, 75);
    --main-background-color-a: rgba(11, 42, 75, 0.9);
    --main-highlight-color: rgb(17, 72, 105);
    --main-font-color: rgb(215, 215, 215);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-background-color);
}

a {
    color: hotpink;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

.sticky-menu {

}

.sticky-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-menu li {
    margin: 0 1rem;
}

.sticky-menu a {
    font-size: 1.3rem;
    color: var(--main-font-color);
    text-decoration: none;
    padding: 2rem 0.5rem 2rem 0.5rem;
    display: block;
}

.sticky-menu a:hover {
    background-color: var(--main-highlight-color);
}

#menuLogoA {
    margin: 0;
    padding: 0;
}

#menuLogoA:hover {
    background-color: rgba(0, 0, 0, 0);
}

#menuLogo {
    margin: 0.5rem 0 0 0;
    width: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: var(--main-font-color);
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: var(--main-background-color-a);
    overflow: hidden;
    /* border: 0.1rem solid rgba(255, 168, 80, 0.5); */
}

.section-title {
    align-self: flex-start;
    margin: 0;
    font-size: 2.5rem;
    color: rgb(255, 168, 80);
}

#sectionSubTitle {
    align-self: center;
    font-style: italic;
    font-size: 1.1rem;
    color: var(--main-font-color)
}

#mainSectionTitle {
    font-size: 5rem;
    align-self: center;
}

.section-text-box {
    margin: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 30%;
}

.section-subtext {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
}

#home {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)),
        url("../img/lambs1.jpg");
    background-size: cover;
    background-position: center;
}

#about {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)),
        url("../img/lambs2.jpg");
    background-position: center;
    background-size: cover;
}

#join {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)),
        url("../img/lambs3.jpg");
    background-position: center;
    background-size: cover;
}

#discord {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)),
        url("../img/lambs4.jpg");
    background-position: center;
    background-size: cover;
}